.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.panel {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.plotArea {
    justify-self: flex-end;
    margin: auto;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categoryContainer > select {
    width: 100%;
    padding: 8px;
}

.geneSearch {
    margin-top: 10px;
    position: relative;
}
  
.geneSearch input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin: 10px 0;
}
  
.searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchResultItem {
    padding: 8px;
    cursor: pointer;
}

.searchResultItem:hover {
    background-color: #f0f0f0;
}

.selectedGeneButton {
    color: blue;
}

.geneButton {
    color: black;
}

.badgeContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    overflow: scroll;
    min-height: 100px;
}

.selectedBadge {
    background-color: yellow !important ;
    color: black !important;
}

.ellipsis {
    margin-left: 4px;
    font-size: 14px;
}

.selectedContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: scroll;
}
