.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.panel {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.plotArea {
    justify-self: flex-end;
    margin: auto;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.geneSearch {
    margin-top: 10px;
    position: relative;
}
  
.geneSearch input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin: 10px 0;
}
  
.searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchResultItem {
    padding: 8px;
    cursor: pointer;
}

.searchResultItem:hover {
    background-color: #f0f0f0;
}

.selectedGeneButton {
    color: blue;
}

.geneButton {
    color: black;
}

.badgeContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    overflow: scroll;
    min-height: 100px;
}
  
.geneBadge {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    height: 18px;
}

.geneBadge > button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    margin: auto;
    padding-left: 10px;
    font-size: 14px;

}

.geneBadge > button:hover {
    cursor: pointer;
}

.ellipsis {
    margin-left: 4px;
    font-size: 14px;
}

.selectedContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: scroll;
}

.selectedPoint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.selectedPoint > .span {
    font-family: monospace;
}

.selectedPoint > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.colorCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }