.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.panel {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.plotArea {
    justify-self: flex-end;
    margin: auto;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selectedGeneButton {
    color: blue;
}

.geneButton {
    color: black;
}