.point {
  transition: fill 0.1s ease-in-out;
}

.point:hover {
  fill: rgba(0, 157, 255, 0.5);
}

.label {
  font-size: 0.8rem;
  font-weight: 500;
  fill: rgba(0, 0, 0, 0.2);
  transition: fill 0.1s ease-in-out;
  cursor: default;
  user-select: none;
}

.label:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.settings {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  gap: 0.5rem;
  padding: 5px;
  user-select: none;
}

.settings:hover {
  cursor: pointer;
}

.settings > svg {
  margin: auto;
}